<!DOCTYPE html>
<html lang="en">
 <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>HI NEWBIE</h1>
    <p>
      Do you wanna try our new service ?????? That's what <%= @user.prenom %>  told to us !'<br/>
    </p>
    <p>
      To suscribe to our site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
